
@{
    ViewData["Title"] = "Index";
}

<div class="productos__lista">
    <div class="productos__item">
        <a class="productos__link" asp-area="" asp-controller="Consolas" asp-action="Index">Consolas</a>
    </div>

    <div class="productos__item">
        <a class="productos__link" asp-area="" asp-controller="Juegos" asp-action="Index">Juegos</a>
    </div>
    <div class="productos__item">
        <a class="productos__link" asp-area="" asp-controller="Perifericos" asp-action="Index">Periféricos</a>
    </div>

</div>


