
@{
    ViewData["Title"] = "Index";
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Consolas" asp-action="Index">Consolas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Juegos" asp-action="Index">Juegos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Perifericos" asp-action="Index">Periféricos</a>
    </li>

</ul>


