@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la web de GameStore</h1>
    <div class="image__container">
        <img src="~/img/portada.jpg" alt="Portada" />
    </div>
</div>
