@{
    ViewData["Title"] = "Ejercicio 4.2.1 - Formulario";
}

<div class="text-center">
    <form method="post">
        Introduzca un texto: 
        <input name="text" size="50" />
        <input type="submit" value="Aceptar" />
    </form>
</div>