@model List<string>

    <h2>Introduzca palabras en la URL de forma "/?palabra=mipalabra"</h2>
    @*<ul>
        @foreach (var palabra in Model)
        {
            <li>@palabra</li>
        }
    </ul>*@
