<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Números primos entre 1 y @ViewData["n"]</h2>
    <ul>
        @for (int i = 3; i < (int)ViewData["n"]; i+=2)
        {
            if (Ejercicio_2._3._4.Controllers.HomeController.IsPrime(i))
            {
                <li>@i</li>
            }
        }
    </ul>
</body>
</html>