@model IEnumerable<GameStore.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}

<h1>Marcas</h1>

<p>
    <a class="boton-normal" asp-action="Create">Añadir Marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="boton-normal" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                <a class="boton-normal" asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
