@using Microsoft.AspNetCore.Identity
@model IdentityUser

@{
    ViewBag.Title = "Eliminar usuario";
}

<h3>Eliminar usuario</h3>
<p class="error">@ViewBag.ErrorMessage</p>

<h4>Estás seguro de eliminar el usuario?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-1">
            Usuario
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Users"><i class="fa fa-backward"></i> Volver</a>
    </form>
</div>