<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Numero de tarot para la fecha @ViewData["day"]/@ViewData["month"]/@ViewData["year"]: @ViewData["tarot"]</h2>
</body>
</html>
